<mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
      Start creating a new list
    </mat-card-title>
    <mat-card-content>
      <button mat-raised-button (click)="showAddOrEditListDialog()">Start creating your list!</button>
    </mat-card-content>
</mat-card>
<mat-card>
    <!-- Title of an Card -->
    <mat-card-title>
      Available lists:
    </mat-card-title>
    <mat-card-content>
        <mat-list *ngFor="let wishlist of wishlists">
            <mat-list-item>
              <h3 mat-line>{{ wishlist.data.listname }}</h3>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
</mat-card>
