/*=================================
=            VARIABLES            =
==================================*/
$m-blue:        #00BAFF;
$m-darker-blue: #26436E;
$m-light-blue:  #66CBE3;
$m-light-grey:  #9FA0A2;

$controlsColor: #39BF59;

$marginBaseValue: 10px;
/*=====  End of VARIABLES  ======*/