
<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    Start creating a new list
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="regiForm">

      <mat-form-field class="demo-full-width">
        <input formControlName="listName" matInput placeholder="List Name">
      </mat-form-field>
      <mat-error>
          <span *ngIf="!regiForm.get('listName').valid && regiForm.get('listName').touched">Please enter a Name for your list</span>
      </mat-error>

      <mat-form-field class="demo-full-width">
        <input formControlName="passcode" matInput placeholder="Passcode">
      </mat-form-field>

      <mat-form-field class="demo-full-width">
        <textarea  formControlName="description" matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
      </mat-form-field>
      <mat-error>
          <span *ngIf="!regiForm.get('description').valid && regiForm.get('description').touched">Please enter a description for your list.</span>
      </mat-error>

      <mat-form-field class="demo-full-width">
        <input formControlName="email" matInput placeholder="Email">
        <mat-hint>e.g. : demo@demo.com</mat-hint>
        <mat-error>
            <span *ngIf="!regiForm.get('email').valid && regiForm.get('email').touched">Please provide your email.</span>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button [disabled]="!regiForm.valid" (click)="onCreateList(regiForm.value)">Add Items</button>
      <button mat-raised-button (click)="close()">Cancel</button>


      <mat-card *ngIf="displayNeeds">
       <mat-form-field class="demo-full-width">
          <input formControlName="need" matInput placeholder="Need" [(ngModel)]="need">
       </mat-form-field>
       <mat-error>
          <span *ngIf="!regiForm.get('need').valid && regiForm.get('need').touched">Please enter at list an item</span>
       </mat-error>
       <button mat-raised-button (click)="addNewNeed(regiForm.value)">Add New Need</button>
       <mat-list *ngFor="let need of needs">
          <mat-list-item>
            <h3 mat-line>{{ need.data.item }}</h3>
          </mat-list-item>
      </mat-list>
      <button mat-raised-button [disabled]="!regiForm.valid" (click)="onFormSubmit(regiForm.value)">Close</button>
     </mat-card>

    </form>
  </mat-card-content>
</mat-card>
